<footer class="footer">

    <div class="footer-top">
        <div class="container">

            <div class="footer-brand-wrapper">

                <a href="./index.ejs" class="logo">
                    <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
                </a>

                <ul class="footer-list">

                    <li>
                        <a href="/" class="footer-link">Home</a>
                    </li>

                    <li>
                        <a href="./movies.ejs" class="footer-link">Movie</a>
                    </li>

                    <li>
                        <a href="./series.ejs" class="footer-link">Series</a>
                    </li>


                    <li>
                        <a href="./best-actors.ejs" class="navbar-link">Best Actors</a>
                    </li>

                </ul>

            </div>

            <div class="divider"></div>

            <div class="quicklink-wrapper">
                <!-- 
          <ul class="quicklink-list">

            <li>
              <a href="#" class="quicklink-link">Faq</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Help center</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Terms of use</a>
            </li>

            <li>
              <a href="#" class="quicklink-link">Privacy</a>
            </li>

          </ul>

          <ul class="social-list">

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-pinterest"></ion-icon>
              </a>
            </li>

            <li>
              <a href="#" class="social-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

          </ul> -->

            </div>

        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">

            <p class="copyright">
                &copy; 2022 <a href="#">SATOFLIX</a>. All Rights Reserved
            </p>


        </div>
    </div>

</footer>