<header class="header" data-header>
    <div class="container">

        <div class="overlay" data-overlay></div>

        <a href="/" class="logo">
            <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
        </a>

        <div class="header-actions">

            <div class="search-container">
                <form id="searchForm" action="/search" method="POST">
                    <button type="button" class="search-btn">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                    <input type="text" id="searchInput" name="searchQuery" placeholder="Search...">
                </form>
                <div id="searchResults" class="search-results">
                    <!-- Display search results here -->
                </div>
            </div>

            <div class="lang-wrapper">
                <label for="language">
                    <ion-icon name="globe-outline"></ion-icon>
                </label>

                <select name="language" id="language">
                    <option value="en">EN</option>
                </select>
            </div>
            <% if (!login) {%>
                <button id="btn btn-primary" class="btn btn-primary">Log In</button>
                <script>
                    document.getElementById('btn btn-primary').addEventListener('click', function () {
                        window.location.href = '/login.ejs';
                    });
                </script>
                <% } else { %>
                    <button id="profileButton" class="btn btn-primary">Profile</button>
                    <button id="favoriteButton" class="btn btn-primary"><ion-icon
                            name="heart-outline"></ion-icon></button>
                    <button id="watchlistButton" class="btn btn-primary">
                        <ion-icon name="play-outline"></ion-icon>
                    </button>
                    <script>
                        document.getElementById('profileButton').addEventListener('click', function () {
                            window.location.href = '/profile.ejs';
                        });
                        document.getElementById('favoriteButton').addEventListener('click', function () {
                            window.location.href = '/favorites.ejs';
                        });
                        document.getElementById('watchlistButton').addEventListener('click', function () {
                            window.location.href = '/watchlist.ejs';
                        });
                    </script>
                    <% } %>
        </div>

        <button class="menu-open-btn" data-menu-open-btn>
            <ion-icon name="reorder-two"></ion-icon>
        </button>

        <nav class="navbar" data-navbar>

            <div class="navbar-top">

                <a href="/" class="logo">
                    <img src="images/SATOFLIXlogo.png" alt="Satoflix logo">
                </a>

                <button class="menu-close-btn" data-menu-close-btn>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

            </div>

            <ul class="navbar-list">

                <li>
                    <a href="/" class="navbar-link">Home</a>
                </li>

                <li>
                    <a href="./movies.ejs" class="navbar-link">Movie</a>
                </li>


                <li>
                    <a href="./series.ejs" class="navbar-link">Series</a>
                </li>

                <li>
                    <a href="./best-actors.ejs" class="navbar-link">Best Actors</a>
                </li>

            </ul>

        </nav>

    </div>
</header>